Source: nextcloud-spreedbox-theme
Section: utils
Priority: extra
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>
Build-Depends:
 debhelper (>= 8),
 dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.3

Package: nextcloud-spreedbox-theme
Architecture: all
Depends:
 nextcloud (>= 11.0.0),
 ${misc:Depends}
Recommends:
 spreedbox-nextcloud
Description: Nextcloud theme for the Spreedbox
 This package installs the Spreedbox Nextcloud theme.
