Source: spreedbox-owncloud-theme
Section: utils
Priority: extra
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>
Build-Depends:
 debhelper (>= 8),
 dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.3

Package: spreedbox-owncloud-theme
Architecture: all
Depends:
 owncloud,
 ${misc:Depends}
Description: Owncloud theme for a Spreedbox
 This package installs the Owncloud theme for a Spreedbox.
